.layout {
  display: flex;

  &.collapse {
    .layout-sider,
    .layout-header-brand {
      width: 80px;
    }

    .layout-content {
      padding-left: 80px;
    }
  }

  &-sider {
    width: 256px;
    height: calc(100vh - 65px);

    transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #001529;

    position: fixed;
    top: 65px;
    left: 0;
  }

  &-content {
    flex: 1;
    overflow: auto;
    padding-left: 256px;
    padding-top: 65px;
    transition: padding-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &-header {
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;

    display: flex;
    align-items: center;

    &-brand {
      width: 256px;
      height: 65px;
      background-color: #002140;
      transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }

    &-content {
      flex: 1;
      padding: 0 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-user {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        margin-left: 6px;
      }
    }
  }

  &-body {
    min-height: calc(100vh - 65px);
  }

  &-footer {
    // 暂定
    text-align: center;
  }
}
